@model IEnumerable<QLCAOOC.Models.NHANKHAU>

@{
    ViewBag.Title = "nhankhau";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<ol class="breadcrumb">
    <li class="breadcrumb-item active"><h3><i class="fa fa-fw fa-list"></i> Quản lý nhân khẩu</h3></li>
</ol>
<p>
    <a href="@Url.Action("themnhankhau", "admin")"><button class="btn btn-success">Thêm nhân khẩu mới</button></a>
</p>
<table id="table_id"
       class="table table-condensed table-striped table-hover">

    <thead>
        <tr>
            <th>
                Họ tên
            </th>
            <th>
                CMND
            </th>
            <th>
                Điện thoại
            </th>
            <th>
                Địa chỉ
            </th>
            <th>
                Hình ảnh
            </th>
            <th>
                Căn hộ đang ở:
            </th>
            <th>Thao tác</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.HoTen)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CMND)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DienThoai)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DiaChi)
                </td>
                <td>
                    <img src="~/images/nhankhau/@item.HinhAnh" width="80" height="80" />
                </td>
                <td>
                    @if (item.MaHopDong == null)
                {
                        <font>Không có</font>
                    }
                    else
                    {
                        @Html.DisplayFor(modelItem => item.HOPDONG.MaCanHo)
                    }
                </td>
                <td>
                    <a href="@Url.Action("suanhankhau", "admin", new { id = item.MaNK })"><button type="button" class="btn btn-warning">Sửa</button> </a>
                    <a href="@Url.Action("chitietnhankhau", "admin", new { id = item.MaNK })"><button type="button" class="btn btn-default">Chi tiết</button> </a>
                    <a href="@Url.Action("xoanhankhau", "admin", new { id = item.MaNK })"><button type="button" class="btn btn-danger">Xóa</button></a>
                </td>
            </tr>
        }

    </tbody>
</table>
@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#table_id').dataTable();
        });
    </script>
    <script src="https://cdn.datatables.net/1.10.4/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/plug-ins/9dcbecd42ad/integration/jqueryui/dataTables.jqueryui.js"> </script>

}
@section css
{
    <link rel="stylesheet"
          href="https://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet"
          href="https://cdn.datatables.net/plug-ins/9dcbecd42ad/integration/jqueryui/dataTables.jqueryui.css">

}
