@model QLCAOOC.Models.GIA

@{
    ViewBag.Title = "SỬA MỨC GIÁ CĂN HỘ";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<ol class="breadcrumb">
    <li class="breadcrumb-item active"><h3><i class="fa fa-fw fa-refresh"></i> Sửa mức giá căn hộ</h3></li>
</ol>
@using (Html.BeginForm("Suagia", "Admin", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.MaDienTich)

        @Html.HiddenFor(model => model.MaTang)

        <div class="form-group">
            <div class="control-label col-md-2">
                <b>Tầng:</b>
            </div>
            <div class="col-md-10">
                @Html.DisplayFor(model => model.TANG.TenTang)
            </div>
        </div>
        <div class="form-group">
            <div class="control-label col-md-2">
                <b>Diện tích:</b>
            </div>
            <div class="col-md-10">
                @Html.DisplayFor(model => model.DIENTICH.TenDienTich)
            </div>
        </div>
        <div class="form-group">
            <div class="control-label col-md-2">
                <b>Giá:</b>
            </div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Gia1, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Gia1, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Lưu" class="btn btn-warning" />
            </div>
        </div>
    </div>
}