@model QLCAOOC.Models.TANG

@{
    ViewBag.Title = "SỬA TẦNG";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<ol class="breadcrumb">
    <li class="breadcrumb-item active"><h3><i class="fa fa-fw fa-refresh"></i> Sửa tầng</h3></li>
</ol>
@using (Html.BeginForm("Suatang", "Admin", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @Html.HiddenFor(model => model.MaTang)

        <div class="form-group">
            <div class="control-label col-md-2">
                <b>Mã tầng:</b>
            </div>
            <div class="col-md-10">
                @Html.DisplayFor(model => model.MaTang)
            </div>
        </div>
        <div class="form-group">
            <div class="control-label col-md-2">
                <b>Tên gọi:</b>
            </div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.TenTang, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TenTang, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Lưu" class="btn btn-warning" />
            </div>
        </div>
    </div>
}