@model IEnumerable<QLCAOOC.Models.TANG>

@{
    ViewBag.Title = "QUẢN LÝ TẦNG";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<ol class="breadcrumb">
    <li class="breadcrumb-item active"><h3><i class="fa fa-fw fa-flag"></i> Quản lý tầng</h3></li>
</ol>
<p>
    <a href="@Url.Action("themtang", "admin")"><button class="btn btn-success">Thêm tầng mới</button></a>
</p>
<table id="table_id"
       class="table table-condensed table-striped table-hover">

    <thead>
        <tr>
            <th>
                Tầng:
            </th>
            <th>
                Tên gọi:
            </th>
            <th>Thao tác</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MaTang)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TenTang)
                </td>
                <td>
                    <a href="@Url.Action("suatang", "admin", new { id = item.MaTang})"><button type="button" class="btn btn-warning">Sửa</button> </a>
                    <a href="@Url.Action("xoatang", "admin", new { id = item.MaTang})"><button type="button" class="btn btn-danger">Xóa</button></a>
                </td>
            </tr>
        }

    </tbody>
</table>
@section scripts
{
    <script type="text/javascript">
    $(document).ready(function () {
        $('#table_id').dataTable();
    });
    </script>
    <script src="https://cdn.datatables.net/1.10.4/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/plug-ins/9dcbecd42ad/integration/jqueryui/dataTables.jqueryui.js"> </script>

}
@section css
{
    <link rel="stylesheet"
          href="https://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet"
          href="https://cdn.datatables.net/plug-ins/9dcbecd42ad/integration/jqueryui/dataTables.jqueryui.css">

}





